name: Publish Docker image
on:
  push:
    branches:
      - main
jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: composer require --dev phpunit/phpunit ^9
        
      - name: PHPUnit check
        run: cd src
        
      - name: What is inside
        run: ls
        
      - name: PHPUnit
        run:  ./vendor/bin/phpunit tests

#       - name: PHPUnit
#         uses: chindit/actions-phpunit@master
        
#       - uses: actions/checkout@v1
#       # For YAML Actions, use v1 or later
#       - uses: pxgamer/phpunit-action@master
#         with:
#           # If there isn't a PHPUnit config, specify files or directories to test
#           command:  ./vendor/bin/phpunit tests
 
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: artik292/php-helloworld
          tag_with_ref: true
          
      
