name: Main
on:
  push:
    branches:
      - main
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: artik292/php-helloworld
          tag_with_ref: true


  phpunit:
    runs-on: ubuntu-latest
    container:
      image: artik292/php-helloworld
    steps:
      - uses: actions/checkout@v2

      - name: PHPUnit
        run:  ./vendor/bin/phpunit tests --coverage-clover ./coverage.xml

      - name: CodeCov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
