name: Unit Testing

on:
  push:
    branches: 'main'

jobs:
  unit-test:
    name: Unit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: composer require --dev phpunit/phpunit ^9

#       - name: Setup cache 1/2
#         id: composer-cache
#         run: |
#           echo "::set-output name=dir::$(composer config cache-files-dir)"
#       - name: Setup cache 2/2
#         uses: actions/cache@v1
#         with:
#           path: ${{ steps.composer-cache.outputs.dir }}
#           key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.type }}-${{ hashFiles('composer.json') }}
#           restore-keys: |
#             ${{ runner.os }}-composer-
            
      - name: Init
        run: |
          mkdir -p build/logs
      - name: "Run tests: Phpunit (only for Phpunit)"
        run: "vendor/bin/phpunit tests --coverage-text -v"

      - name: Upload coverage logs (only for "latest" Phpunit)
#         if: env.LOG_COVERAGE
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: build/logs/clover.xml

 
# jobs:
#   build:
#     name: PHP ${{ matrix.php-versions }}
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2

#       - name: Install dependencies
#         run: composer require --dev phpunit/phpunit ^9

#       - name: "Run test suite"
#         run: "vendor/bin/phpunit tests --coverage-clover ./coverage.xml"
        
#       - name: TMP TEST
#         run: ls -a
        
#       - name: TMP TEST
#         run: ls tests -a
        
#       - name: TMP TEST
#         run: ls .github/workflows -a
